* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body
{
  min-height: 100vh;
  background-image: url(images/bg.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 600px)
{
  .card
{
  position: relative;
  width: 180px;
  height: 280px;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4), inset 300px 0 50px rgba(0, 0, 0, 0.4);
  transform: perspective(2000px) rotateZ(0);
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}
.cover
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ffffff;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out; 
}
}
@media screen and (min-width: 600px)
{
  .card
{
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4), inset 300px 0 50px rgba(0, 0, 0, 0.4);
  transform: perspective(2000px) rotateZ(0);
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}
.cover
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ffffff;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out; 
}
}
.cover img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center; /* ⭐ Căn giữa */
  backface-visibility: hidden;

}
.cover img:nth-child(1)
{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.cover img:nth-child(2)
{
  transform: rotateY(180deg);
}
.card:hover
{
  transform: perspective(2000px) rotateZ(-10deg) translateX(68px);
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4), inset 20px 0 50px rgba(0, 0, 0, 0.4);

}
.card:hover .cover
{
  transform: rotateY(-135deg);
}

/* Hiệu ứng mở tự động giống hover */
.card.open {
  transform: perspective(2000px) rotateZ(-10deg) translateX(68px);
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4), inset 20px 0 50px rgba(0, 0, 0, 0.4);
}

.card.open .cover {
  transform: rotateY(-135deg);
}
@media screen and (max-width: 600px)
{
  .content img
{
  width: 180px;
  height: 280px;
}
}
@media screen and (min-width: 600px)
{
  .content img
{
  width: 300px;
  height: 400px;
}
}
/* Hiệu ứng mờ dần khi chuyển trang */
.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}